<table>
  <tr>
    <td>ID</td>
    <td><%= @entity.id %></td>
  </tr>
  <tr>
    <td>NAME</td>
    <td><%= @entity.name %></td>
  </tr>
  <tr>
    <td>URL</td>
    <td><%= link_to @entity.url, @entity.url %></td>
  </tr>
  <tr>
    <td>TYPE</td>
    <td><%= @entity.entity_type %></td>
  <tr>
    <td>SOURCES</td>
    <td><%= @entity.source_list %></td>
  </tr>
  <tr>
    <td>GENRES</td>
    <td><%= @entity.tag_list %></td>
  </tr>
  <tr>
    <td>MATCHING ENTITIES</td>
    <td>
      <% for related_entity in @entity.matching_entities(:omit_self => true).uniq %>
        <%= link_to related_entity.name, related_entity %></br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>MATCHING GENRES</td>
    <td>
      <% for related_entity in @entity.matching_entities(:omit_self => true).uniq %>
        <%= related_entity.tag_list %> (<%= related_entity.name %>) 
      <% end %>
    </td>
  </tr>
  <tr>
    <td>RELATED ENTITIES</td>
    <td>
      <% for related_entity in @entity.related_entities %>
        <% unless related_entity.id == @entity.id %>
          <%= link_to related_entity.name, related_entity %>,
        <% end %>
      <% end %>
  </tr>
  <tr>
    <td>EVENTS</td>
    <td>
      <% for event in @entity.events %>
        <%= link_to event.name, url_for(event) %></br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>RELATED EVENTS</td>
    <td>
      <% for event in @entity.related_entity_events %>
        <%= link_to event.name, url_for(event) %></br>
      <% end %>
    </td>
  </tr>
</table>