<h2><%= event.name %></h2>
<p class="description"><%= event.description %></p>
<%= image_tag event.image %>
<%= link_to event.location_name, event.location %>
<p class="date"><%= event.dates %></p>

<ul>
  <% for @cat in event.dbpedia_entities %>
    <li><a href=<%= @cat.url %> target="_blank"><%= @cat.name %></a> (<%= @cat.stanford_name %> - <%= @cat.stanford_type %>)</li>
  <% end %>
</ul>

<div class="related">
  <%= render 'thumbnail_list', events: event.related_events %>
</div>
