<h2><%= event.name %></h2>
<p class="description"><%= event.description %></p>
<%= image_tag event.image %>
<%= link_to event.location_name, event.location %>
<p class="date"><%= event.dates %></p>
<%= link_to 'Favorite', event_favorite_path(event), method: :post %>

<ul>
  <% event.dbpedia_entities.each do |category| %>
    <li>
      <%= link_to category.name, category.url, target: '_blank' %>
      (<%= category.stanford_name %> - <%= category.stanford_type %>)
    </li>
  <% end %>
</ul>

<div class="related">
  <%= render 'thumbnail_list', events: event.related_events %>
</div>
