<%= image_tag event.image, class: 'primary' %>
<h2><%= link_to event.name, url_for(event) %></h2>
<p class="description"><%= event.description %></p>
<%= link_to event.location_name, event.location %>
<p class="date"><%= event.dates %></p>
<%= render 'events/favorite_link', event: event %>

<table>
  <tr>
    <td>NAME</td><td>SOURCES</td><td>TYPE</td>
  </tr>
  <% event.entities.each do |entity| %>
    <tr>
      <td><%= link_to entity.name, entity, target: '_blank' %></td>
      <td><%= entity.source_list %></td>
      <td><%= entity.entity_type %></td>
    </tr>
  <% end %>
</table>

<div class="events-list related anchor-bottom">
  <h3>Related Events</h3>
  <%= render 'thumbnail_list', events: event.select_related_events %>
</div>
