<%= image_tag event.image, class: 'primary' %>
<h2><%= link_to event.name, url_for(event) %></h2>
<p class="description"><%= event.description %></p>
<%= link_to event.location_name, event.location %>
<p class="date"><%= event.dates %></p>
<%= render 'events/favorite_link', event: event %>

<ul>
  <% event.entities.each do |category| %>
    <li>
      <%= link_to category.name, category.url, target: '_blank' %>
      (<%= category.stanford_name %> - <%= category.stanford_type %>)
    </li>
  <% end %>
</ul>

<div class="events-list related anchor-bottom">
  <h3>Related Events</h3>
  <%= render 'thumbnail_list', events: event.select_related_events %>
</div>
