<ul>
  <% events.each do |event| %>
    <% if event[:event].present? %>
        <li>
          <%= link_to event[:event] do %>
            <%= image_tag event[:event].image %>
            <h3><%= event[:event].name %></h3>
          <% end %>
        </li>
        <% if event[:genre].present? %>
          <p><strong><%= event[:genre] %> - </strong><em><%= event[:entity] %> - <%= event[:related_entity] %></em></p>
        <% else %>
          <p><strong><%= event[:entity] %> - </strong><em><%= event[:related_entity] %></em></p>
        <% end %>
    <% else %>
        <li>
          <%= link_to event do %>
            <%= image_tag event.image %>
            <h3><%= event.name %></h3>
          <% end %>
        </li>
    <% end %>
  <% end %>
</ul>
