<nav class="site-wide">
  <ul>
    <li><%= link_to 'Discover', root_path %></li>
    <li><%= link_to 'By Date', '#' %></li>
    <li><%= link_to 'By Location', '#' %></li>
    <li><%= link_to 'Favorites', '#' %></li>
    <li><%= link_to 'History', '#' %></li>
    <li><%= link_to 'Settings', '#' %></li>
  </ul>
</nav>
