<% content_for(:page_header) { 'Location' } %>
<%= image_tag @location.image, class: 'primary' %>
<h3><%= @location.name %></h3>
<%= link_to google_map_url_for(@location) do %>
  <%= image_tag google_map_image_url_for(@location), class: 'primary' %>
<% end %>
<p><%= @location.description %></p>

<div class="events-list newest-events anchor-bottom">
  <h3>Events and Exhibitions</h3>
  <%= render 'events/thumbnail_list', events: @location.newest_events %>
</div>
