<%= render "shared/head" %>
<!-- TODO: fix up page id and page class -->
<!-- body id="page-page.active " class="page-page.active" -->
<body>
    <!-- Skip navigation link for screen reader and keyboard users -->
    <div class="skiplinkholder"><p><a id="skiplink" href="#skiptarget">Skip to main content (Press Enter).</a></p></div>
    <div class="wrapper">
    <%= render "shared/masthead_buttons" %>
    <%= yield %>
    </div><!-- /wrapper -->
    <%= render "shared/panel_menu" %>
    <%= render "shared/modal_signup" %>
</body>
</html>
